#title {

  width: 100%;
  height: 100%;
}
#title .wrap {

  display: flex;
  height: 100%;
  align-items: center;
}
#title .wrap h2 {

  font-weight: bold;
  width: auto;
  font-size: 80px;
  color: #276faf;
  transform: translateY(-40%);
}
#title .wrap h2 span{
  
  font-weight: initial;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  color: #ffffffa1;
}