header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #17333f80;
}
header nav {

  height: 120px;
  max-width: 1820px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {

  width: 100px;
  height: 100px;
  background-image: url(../img/MS-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40px;
}
header nav h1 a{
  
  width: 100px;
  height: 100px;
  display: inline-block;
}
header nav ul {

  display: flex;
  padding-right: 50px;
}
header nav ul li {

}
header nav ul li a{
  
  color: white;
  padding: 0 70px;
  font-weight: initial;
  transition: 0.5s;
}
header nav ul li a:hover{
  
  color: #bdc3c7;
}